<!doctype html> 
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="Admin/base2::Layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Dashboard</title>
	
</head>
<body>
<section>
	
		<div class="card mr-3 ml-4 ">
		
		<div class="card-body mr-3 mt-5 ">
		
		<div class="cointainer text-center mr-3 mt-2 ml-3">
		<h1 class="text-center">Payment</h1>
		<br>
		<form th:action="@{/admin/payment}" method="post" th:object="${c}" >
		  <div class="form-group row">
		    <label for="staticEmail" class="col-sm-2 col-form-label">id</label>
		    <div class="col-sm-10">
		      <input type="text" name = "id" readonly th:value="${c.id}" class="form-control-plaintext" id="staticEmail" >
		    </div>
		  </div>
		  <br>
		  
         
		  <div class="form-group row">
		    <label for="" class="col-sm-2 col-form-label">Cid</label>
		    <div class="col-sm-10">
		      <input th:value="${c.Cid}" name="Cid" readonly type="text" class="form-control-plaintext" id="staticEmail" >
		    </div>
		    </div>
		    <br>
		    <div class="form-group row">
		    <label for="staticEmail" class="col-sm-2 col-form-label">Bill amount</label>
		    <div class="col-sm-10">
		      <input type="text" name = "id" readonly th:value="${c.billAmount}" class="form-control-plaintext" id="staticEmail" >
		    </div>
		  </div>
		  <br>
		    <div class="form-group row">
		    <label for="" class="col-sm-2 col-form-label">orderDateTime</label>
		    <div class="col-sm-10">
		      <input type="text" name="orderDateTime" th:value="${c.orderDateTime}" class="form-control-plaintext" readonly id="inputPassword" >
		    </div>
		    </div>
		    <br>
		    
		    
		    <br>
		    
		    <div class="form-group row">
		    <label for="" class="col-sm-2 col-form-label">paymentMethod</label>
		    <div class="col-sm-10">
		      <input type="text" name="paymentMethod" th:value="${c.paymentMethod}" placeholder="Enter Payment Method" class="form-control" id="inputPassword" >
		    </div>
		    </div>
		  
		    <button class="btn btn-primary" type="submit" name="action" value="submit">Submit</button>
		   </form>
	 </div>

</div>

</div>
	
	</section>	
	
</body>
</html>