@charset "ISO-8859-1";
body {
	background: #e2e2e2!important;
}
.bg-primary{
	background: #009688!important;
}
.banner{
	width:100%;
	height: 93vh;
	background: Linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.8)),url(../images/ya.jpg);
	/* background-repeat: no-repeat; */
	background-size: center;
	color:white;
}
.my-card{
	padding:20px;
	background: #FFFFFF;
	
}
#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 350px;
  border: 1px solid #9C9C9C;
  background-color: #FFFFFF;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -40px;
  margin-left: 435px;
}
/* Navigation */
#navbar {
    flex-direction: column;
}

#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
}
/* Home section */
#home{
    height: 370px; 
    padding: 3px 28px;
}

#home::before{
    height: 480px; 
}

#home p{
    font-size: 13px;
}

/* Services section  */
#services{
    flex-direction: column;
}

#services .box { 
    padding: 14px;
    margin: 2px 0px; 
    margin-bottom: 20px;
}

/* Clients section */
#clients{
    flex-wrap: wrap;
}

#clients img{
    width: 66px;
    padding: 6px;
    height: auto;
}

/* Contact us section */
#contact-box form{
    width:80%;
}
/* Footer */

/* Utility classes */
.h-primary{
    font-size:26px;
}
.btn{
    font-size: 13px;
    padding: 4px 8px;
}
.sidebar{
	
	 width: 18%;
	 background: white;
	 height: 100%;
	 position: fixed;
	 padding-top: 25px;
}
.sidebar a {
	display:block;;
	width: 100%;
	padding: 10px 15px;
	text-decoration: none;
	color: gray;
	}
.content{
	margin: 20%;
	margin-top:3em;
}
.my_profile_picture{
	width:40px;
	height: 40px;
	object-fit:cover;
	border-radius:50%;
	border: 1px solid black;
}
@import url(
'https://fonts.googleapis.com/css?family=Big+Shoulders+Text:100, 300, 400, 500, 600, 700, 800, 900&display=swap');

/* font-family: 'Big Shoulders Text', cursive; */

.nav-flex-row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	position: absolute;
	z-index: 100;
	left: 0;
	width: 100%;
	padding: 0;
}

.nav-flex-row li {
	text-decoration: none;
	list-style-type: none;
	padding: 20px 15px;
}

.nav-flex-row li a {
	font-family: 'Big Shoulders Text', cursive;
	color: #000;
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: 300;
}

.nav-flex-row li a:hover {
	background: #E7E7E7;
}

.section-intro {
	height: 820px;
	background-image: url(img/foddiee.png);
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.section-intro h1 {
	text-align: center;
	color: #000;
	font-size: 4em;
	font-weight: 700;
}

.section-intro header {
	display: flex;
	flex: 4;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.link-to-book-wrapper {
	flex: 1;
}

.about-section {
	display: flex;
	align-items: center;
	background-color: #f3f3f3c0;
	padding: 50px 30px;
}

.link-to-book {
	color: #ffffff;
	display: block;
	border: 2px solid #ffffff;
	padding: 5px 10px;
}

a.link-to-book:hover {
	background-color: #ffffff;
	color: #95999e;
	text-decoration: none;
}

.about-section p,
.about-section h3 {
	text-align: center;
	width: 60%;
	margin: auto;
	font-family: 'Big Shoulders Text', cursive;
	font-size: 1.8em;
	text-transform: uppercase;
}

.carousel-inner {
	height: 700px;
}

.row-flex {
	display: flex;
	flex-direction: row;
}

.flex-column-form {
	display: flex;
	flex-direction: column;
	flex: 1;
	margin: 30px 20px;
}

.btn.btn-primary {
	font-family: 'Big Shoulders Text', cursive;
	color: #ffffff;
	background-color: #95999e;
	text-transform: uppercase;
	font-size: 16px;
	padding: 5px 10px;
	letter-spacing: 2px;
	border: 0;
}

.btn.btn-primary:hover {
	background-color: #747474;
}

.opening-time,
.contact-address {
	flex: 1;
	margin: 30px 20px;
	font-size: 1.2em;
}

.form-group p {
	font-size: 1.2em;
}

.opening-time p span,
.contact-address p span {
	display: block;
}

@media (min-width:577px) and (max-width: 800px) {

	.section-intro {
		height: 500px;
	}

	.about-section p,
	.about-section h3 {
		font-size: 20px;
	}

	.carousel-inner {
		height: auto;
	}

	.row-flex {
		display: flex;
		flex-direction: column;
	}
}

@media screen and (max-width: 576px) {
	.section-intro {
		height: 300px;
	}

	.about-section {
		padding: 30px;
	}

	.section-intro h1 {
		font-size: 2em;
	}

	.about-section p,
	.about-section h3 {
		font-size: 15px;
	}

	.carousel-inner {
		height: auto;
	}

	.row-flex {
		display: flex;
		flex-direction: column;
	}

	.row-flex h3 {
		font-size: 25px;
		text-align: center;
	}

	.form-group p {
		font-size: 15px;
	}

	.opening-time p span,
	.contact-address p span {
		font-size: 15px;
		text-align: center;
	}

}
.carousel-item img {
	background-repeat: no-repeat;
	background-size: cover;
}


  ul {
    margin: 0px;
    padding: 0px;
}
.footer-section {
  background: #151414;
  position: relative;
}
.footer-cta {
  border-bottom: 1px solid #373636;
}
.single-cta i {
  color: #ff5e14;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #757575;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
    max-width: 200px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
      color: #7e7e7e;
  line-height: 28px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg{
  background: #3B5998;
}
.twitter-bg{
  background: #55ACEE;
}
.google-bg{
  background: #DD4B39;
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #ff5e14;
}
.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover{
  color: #ff5e14;
}
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2E2E2E;
  border: 1px solid #2E2E2E;
  color: #fff;
}
.subscribe-form button {
    position: absolute;
    right: 0;
    background: #ff5e14;
    padding: 13px 20px;
    border: 1px solid #ff5e14;
    top: 0;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area{
  background: #202020;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a{
  color: #ff5e14;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a{
  color: #ff5e14;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}

